body {
  background-color: #23252C;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  background-color: #1A1B21;
  border-radius: 25px;
  width: 40%;
  height: 80%;
}